body{
    display:flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    font-family: roboto;
    background-color: whitesmoke;
}

.container{
    width:65vw;
    box-shadow: 0 15px 35px black(50,50,93);
    padding:2em;
    background-color:whitesmoke;
    border-radius:5px;
}

.form-group{
    margin-bottom:1em;
    transition:all .3s;
}

.form-label{
    font-size:1em;
    color:#aaa;
    display:block;
    opacity:1;
    transform:translateY(-1.25em);
    transform-origin:0 0;
    transition:all .3;
}

.form-control{
    box-shadow:none;
    background-color: rgba(0, 0, 0,.02);

}
